/********************************************************************************************************
    HEADER
********************************************************************************************************/
header {
    width: 100%;
    /* height: 88vh; */
    /* padding: calc(1rem + 78px) 0 1rem 0; */
    background-image: url("../resources/img/header-nature.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    z-index: 0;
}

/* Blue gradient under content but over background image */
header::after {
    content: "";
    display: block;
    background: linear-gradient(#6c97e2aa, #6C98E280 10%, transparent);
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
}

/************************
    NAV 
************************/
header nav {
    display: flex;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    font-weight: normal;
    background-color: var(--color-background);
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.25);
    z-index: 1;

    --border-width: 4px;
}

header nav button {
    border: none;
    cursor: pointer;
    display: none;
    position: absolute;
    background-color: var(--color-background);
    top: 0;
    right: 0;
    padding: 1.435rem;
}

header nav button img {
    width: 2rem;
    height: 2rem;
}

header ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

header nav ul {
    display: flex;
}

header nav li {
    display: block;
}

header nav a {
    color: var(--color-heading);
    text-decoration: none;
    display: block;
    border-bottom: var(--border-width) solid transparent;
    transition-property: border-color;
    transition-duration: 100ms;
    transition-timing-function: ease-in-out;
}

header nav a:hover,
header nav a:focus {
    border-color: var(--color-heading);
}

header nav ul a {
    font-size: 1.25rem;
    padding: 1.5rem 1.5rem calc(1.5rem - var(--border-width)) 1.5rem;
}

header nav ul a.current {
    font-weight: bold;
    border-color: var(--color-heading);
}

header nav a.branding-text {
    font-size: 1.75rem;
    padding: 1.125rem 2rem calc(1.125rem - var(--border-width)) 2rem;
}

@media screen and (max-width: 610px) {
    header nav {
        flex-direction: column;
        align-items: flex-start;
    }

    header nav button {
        display: flex;
    }

    header nav ul {
        border-top: 1px solid var(--color-text-dark);
        flex-direction: column;
        width: 100%;
        display: none;
    }

    header nav ul a {
        border-left: calc(var(--border-width) * 2) solid transparent;
        border-bottom: none;
    }

    header nav ul.show {
        display: unset;
    }
}

/************************
    LANDING CONTENT
************************/
.landing-content {
    margin-top: 78px; /* Nav bar height */
    padding: 5rem 0 1rem 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.landing-content > ul {
    margin: 0 20vw 0 2rem;
}

.landing-content > ul a {
    padding: 1em 2em;
    background: linear-gradient(90deg, var(--color-accent-1), var(--color-accent-2)); 
    border-radius: 0.5em;
    color: var(--color-text-bright);
    text-decoration: none;
    display: flex;
    margin: 1em 0;
    justify-content: space-between;
    align-items: center;
    font-size: 1.25rem;
}

.landing-content > ul a img {
    margin-left: 2rem;
}

.landing-content > ul a:hover,
.landing-content > ul a:focus {
    background: var(--color-accent-2);
}

.landing-content > ul a:hover img,
.landing-content > ul a:focus img {
    transform: translateX(0.5rem);
}

.weather-box {
    padding: 6rem 6rem 3rem 6rem;
    max-width: 50vw;
    text-align: center;
    border-radius: 0.5em;
    background-image: linear-gradient(#D9E7FF, #D9E7FF00);
    color: var(--color-heading);
}

.weather-box p.branding-text {
    font-size: 1.5rem;
    margin: 0 0 -2em 0;
}

.weather-box h1 {
    font-size: 8rem;
    margin: 0;
}

/********************************************************************************************************
    MAIN
********************************************************************************************************/
main section {
    padding-top: 5rem;
}


/********************************************************************************************************
    ABOUT US
********************************************************************************************************/
section#about-us .content {
    display: flex;
}

section#about-us .img {
    background-image: url("../resources/img/fence.jpg");
    background-size: cover;
    background-position: center;
    width: 200%;
    border-radius: 0.5rem;
    margin-right: 3rem;
}

/********************************************************************************************************
    BLOG POSTS
********************************************************************************************************/

