/********************************************************************************************************
    FONTS
********************************************************************************************************/
@font-face {
    font-family: "Signika Negative";
    src: url("../resources/fonts/SignikaNegative-Bold.woff2") format("woff2"),
         url("../resources/fonts/SignikaNegative-Bold.woff")  format("woff");
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Signika Negative";
    src: url("../resources/fonts/SignikaNegative-Light.woff2") format("woff2"),
         url("../resources/fonts/SignikaNegative-Light.woff")  format("woff");
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Signika Negative";
    src: url("../resources/fonts/SignikaNegative-Regular.woff2") format("woff2"),
         url("../resources/fonts/SignikaNegative-Regular.woff")  format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Righteous";
    src: url("../resources/fonts/Righteous-Regular.woff2") format("woff2"),
         url("../resources/fonts/Righteous-Regular.woff")  format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

/********************************************************************************************************
    VARIABLES
********************************************************************************************************/
:root {
    --color-background: #eff2f7;
    --color-text-dark: #24273b;
    --color-text-bright:#ddddee; 
    --color-heading: #0a157b;
    --color-accent-1: #1728c2;
    --color-accent-2: #175fcb;
}

/********************************************************************************************************
    BASE STYLES
********************************************************************************************************/
*,
*::after,
*::before {
    box-sizing: border-box;
}

::selection {
    background-color: var(--color-heading);
    color: var(--color-text-bright);
}

*:focus {
    outline: 2px dashed var(--color-heading) !important;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: var(--color-background);
    color: var(--color-text-dark);
    text-align: center;

    line-height: 1.5;
    font-weight: 300;
    font-size: 100%;
    font-family: "Signika Negative",                  /* Desired font */
        system-ui, -apple-system, BlinkMacSystemFont, /* San Francisco on macOS and iOS */
        "Segoe UI",                                   /* Windows */
        "Ubuntu",                                     /* Ubuntu */
        "Roboto", "Noto Sans", "Droid Sans",          /* Chrome OS and Android with fallbacks */
        sans-serif;                                   /* The final fallback in sans-serif */
}

.branding-text {
    text-transform: none;
    font-family: "Righteous",                         /* Desired font */
        system-ui, -apple-system, BlinkMacSystemFont, /* San Francisco on macOS and iOS */
        "Segoe UI",                                   /* Windows */
        "Ubuntu",                                     /* Ubuntu */
        "Roboto", "Noto Sans", "Droid Sans",          /* Chrome OS and Android with fallbacks */
        sans-serif;                                   /* The final fallback in sans-serif */
}

main {
    max-width: 100ch;
    padding: 2ch;
    margin: auto;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
    text-transform: uppercase;
    color: var(--color-heading);
    display: block;
}

a {
    color: var(--color-heading);
}

/********************************************************************************************************
    HEADER
********************************************************************************************************/
header {
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    z-index: 0;
    text-align: left;
    padding: calc(2rem + 78px) 0 2rem 0; /* Header height */
}

header h1 {
    text-transform: none;
    font-size: 4rem;
    text-align: center;
    font-weight: bold;
}

header#landing-header {
    padding: 0;
}

/* CSS-style picture element */
@media screen and (max-width: 100ch) {
    header#landing-header { background-image: url("../resources/img/header-nature-800.png"); }
}

@media screen and (min-width: 100ch) {
    header#landing-header { background-image: url("../resources/img/header-nature-1920.png"); }
}

/* Blue gradient under content but over background image */
header::after {
    content: "";
    display: block;
    background: linear-gradient(#6c97e2aa, #6C98E280 10%, transparent);
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
}

/************************
    NAV 
************************/
header nav {
    display: flex;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    font-weight: normal;
    background-color: var(--color-background);
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.25);
    z-index: 1;

    --border-width: 4px;
}

header nav button {
    border: none;
    cursor: pointer;
    display: none;
    position: absolute;
    background-color: var(--color-background);
    top: 0;
    right: 0;
    padding: 1.435rem;
}

header nav button img {
    width: 2rem;
    height: 2rem;
}

header ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

header nav ul {
    display: flex;
}

header nav a {
    color: var(--color-heading);
    text-decoration: none;
    display: block;
    border-bottom: var(--border-width) solid transparent;
    transition-property: border-color;
    transition-duration: 100ms;
    transition-timing-function: ease-in-out;
}

header nav a:hover,
header nav a:focus {
    border-color: var(--color-heading);
}

header nav ul a {
    font-size: 1.25rem;
    padding: 1.5rem 1.5rem calc(1.5rem - var(--border-width)) 1.5rem;
}

header nav ul a.current {
    font-weight: bold;
    border-color: var(--color-heading);
}

header nav a.branding-text {
    font-size: 1.75rem;
    padding: 1.125rem 2rem calc(1.125rem - var(--border-width)) 2rem;
}

/************************
    LANDING CONTENT
************************/
.landing-content {
    padding: 8rem 0 3rem 0;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    width: 100%;
    height: 100%;
    position: relative;
}

.weather-box {
    padding: 3rem;
    max-width: 100ch;
    text-align: center;
    border-radius: 0.5em;
    background-image: linear-gradient(#D9E7FF, #D9E7FF00);
    color: var(--color-heading);
}

.weather-box p.branding-text {
    font-size: 1.25rem;
    margin: 2rem 0 -2em 0;
}

.weather-box h1 {
    font-size: 6rem;
    margin: 0 0 1rem 0;
}

.weather-box h2:nth-of-type(1) {
    font-size: 1rem;
}

/********************************************************************************************************
    MAIN
********************************************************************************************************/
main section {
    padding-top: 5rem;
}

main section.img-text-box picture {
    display: block;
}

main section.img-text-box img {
    object-fit: cover;
    max-width: 100%;
    min-width: 100%;
    border-radius: 0.5em;
}

main h2::after {
    margin-top: 8px;
    content: "";
    width: 3em;
    margin-left: auto;
    margin-right: auto;
    height: 0.5em;
    background-image: url("../resources/img/heading-smile.svg");
    background-size: contain;
    background-repeat: no-repeat;
    display: block;
}

/********************************************************************************************************
    ABOUT US
********************************************************************************************************/
section#about-us .content {
    text-align: left;
    display: flex;
}

section#about-us .img {
    display: none;
}

@media screen and (min-width: 101ch) {
    section#about-us .img {
        display: unset;
        background-image: url("../resources/img/fence-300.jpg");
        background-size: cover;
        background-position: center;
        width: 200%;
        border-radius: 0.5rem;
        margin-right: 3rem;
    }
}

/********************************************************************************************************
    BLOG POSTS
********************************************************************************************************/
#news > div {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: flex-start;
}

#news article {
    display: flex;
    flex-direction: column;
    max-width: 40ch;
    flex-grow: 1;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.25);
    border-radius: 0.5em;
}

#news article p,
#news article time {
    margin-left: 2ch;
    margin-right: 2ch;
}

#news article h3 {
    margin-bottom: 0;
}

#news article img {
    border-radius: 0.5em 0.5em 0 0;
    /* max-height: 200px; */
    width: 100%;
    object-fit: cover;
}

/********************************************************************************************************
    CONTACT FORM
********************************************************************************************************/
#contact-us address {
    font-style: normal;
}

#contact-us form {
    text-align: left;
    display: flex;
    flex-direction: column;
    margin: auto;
}

#contact-us label,
#contact-us button[type="submit"] {
    margin-top: 1rem;
}

#contact-us input,
#contact-us select,
#contact-us button[type="submit"],
#contact-us textarea {
    padding: 0.5em;
    border: none;
    border-radius: 0.5em;
    font-size: 1.25rem;
}

#contact-us button[type="submit"] {
    background-color: var(--color-heading);
    color: var(--color-text-bright);
    text-transform: uppercase;
    cursor: pointer;
    padding: 1em 1em;
    font-weight: bold;
}

#contact-us input:hover,
#contact-us select:hover,
#contact-us button[type="submit"]:hover,
#contact-us textarea:hover {
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.05);
}

#contact-us textarea {
    /* Only vertical resizing */
    max-width: 100%;
    min-width: 100%;
}

/********************************************************************************************************
    FOOTER
********************************************************************************************************/
footer {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 5rem;
    padding: 3rem;
    background-color: var(--color-text-bright);
}

footer > * {
    font-size: 1rem;
    padding: 1rem 1rem;
}

/********************************************************************************************************
    MEDIA QUERIES
********************************************************************************************************/
@media screen and (max-width: 100ch) {
    header nav {
        flex-direction: column;
        align-items: flex-start;
    }

    header h1 {
        font-size: 3rem;
    }

    header nav button {
        display: flex;
    }

    header nav ul {
        border-top: 1px solid var(--color-text-dark);
        flex-direction: column;
        width: 100%;
        display: none;
    }

    header nav li:nth-of-type(odd) {
        background-color: var(--color-text-bright);
    }

    header nav ul a {
        border-left: calc(var(--border-width) * 2) solid transparent;
        border-bottom: none;
    }

    header nav ul.show {
        display: unset;
    }

    .landing-content {
        padding: 78px 0 0 0;
    }

    .weather-box {
        padding: 2ch;
        background: transparent;
        border-radius: 0;
    }

    .weather-box h1 {
        font-size: 4rem;
    }

    .weather-box p.branding-text {
        font-size: 1rem;
        margin-bottom: -1.5em;
    }

    #news article {
        margin-top: 3rem;
    }

    #news article,
    #contact-us form {
        max-width: 100%;
    }

    section#about-us .content {
        text-align: center;
    }
}

